<div class="container">
  <div class="bg-body-tertiary p-5 rounded">
    <div class="row">
      <div class="col-md-6">
        <h2 class="fw-bold mb-0">New Project</h2>
        <hr>
        <form 
          #f="ngForm" 
          (ngSubmit)="save(f.value)" 
          class="row g-3 align-items-center"
          >
          <div class="col-4">
            <label for="projectTitle" class="col-form-label">Project Title</label>
          </div>
          <div class="col-8">
            <input 
              id="projectTitle" 
              type="text"
              class="form-control" 
              aria-describedby="passwordHelpInline"
              required
              minlength="3"
              maxlength="50"
              name="projectTitle"

              [(ngModel)]="project.projectTitle"
              #projectTitle="ngModel"
            >
            <div *ngIf="projectTitle.touched && projectTitle.invalid" class="error-message">
              <div *ngIf="projectTitle.errors?.['required']">
                Title is required.
              </div>
              <div *ngIf="projectTitle.errors?.['minlength']">
                Minimum length should be 3
              </div>
              <div *ngIf="projectTitle.errors?.['maxlength']">
                Maximum length should be 3
              </div>
            </div>
          </div>
          <div class="col-4">
            <label for="projectId" class="col-form-label">Project ID</label>
          </div>
          <div class="col-8">
            <input 
              id="projectId" 
              class="form-control"
              type="text" 
              name="projectId"
              required
              pattern="^[a-zA-Z0-9]*$"
              [(ngModel)]="project.projectId"
              #projectId="ngModel"
            >
            <div *ngIf="projectId.touched && projectId.invalid" class="error-message">
              <div *ngIf="projectId.errors?.['required']">
                Project ID is required.
              </div>
              <div *ngIf="projectId.errors?.['pattern']">
                Project ID should be alphanumberic only
              </div>
            </div>
          </div>
          <div class="col-4">
            <label for="prjectInr" class="col-form-label">INR</label>
          </div>
          <div class="col-8">
            <input 
              id="projectInr"
              type="text"
              class="form-control"
              name="projectInr"
              required
              pattern="^[a-zA-Z0-9]*$"
              min="0"
              [(ngModel)]="project.projectInr"
              #projectInr="ngModel"
            >
            <div *ngIf="projectInr.touched && projectInr.invalid" class="error-message">
              <div *ngIf="projectInr.errors?.['required']">
                Project INR is required.
              </div>
              <div *ngIf="projectInr.errors?.['min']">
                Project INR should be greater than Zero.
              </div>
            </div>
          </div>
          <div class="col-4">
            <label for="imageUrl" class="col-form-label">Image Url</label>
          </div>
          <div class="col-8">
            <input
              id="imageUrl"
              type="text" 
              class="form-control"
              name="imageUrl"
              required
              [(ngModel)]="project.imageUrl"
              #imageUrl="ngModel"
            >
            <div *ngIf="imageUrl.touched && imageUrl.invalid" class="error-message">
              <div *ngIf="imageUrl.errors?.['required']">
                Image Url is required.
              </div>
            </div>
          </div>
          <div class="col-4">
            <label for="projectStatus" class="col-form-label">Status</label>
          </div>
          <div class="col-8">
            <select
              id="projectStatus"
              class="form-control"
              name="projectStatus"
              required
              [(ngModel)]="project.projectStatus"
              #projectStatus="ngModel"
              >
              <option>Select</option>
              <option *ngFor="let s of status$ | async" [value]="s.$key">
                {{ s.name }}
              </option>
            </select>
            <div *ngIf="projectStatus.touched && projectStatus.invalid" class="error-message">
              <div *ngIf="projectStatus.errors?.['required']">
                Project Status is required.
              </div>
            </div>
          </div>
          <div class="col-4">
            <label for="projectDescription" class="col-form-label">Project Description</label>
          </div>
          <div class="col-8">
            <textarea
              id="projectDescription"
              type="text"
              class="form-control"
              name="projectDescription"
              required
              minlength="3"
              maxlength="100"
              [(ngModel)]="project.projectDescription"
              #projectDescription="ngModel"
              >
            </textarea>
            <div *ngIf="projectDescription.touched && projectDescription.invalid" class="error-message">
              <div *ngIf="projectDescription.errors?.['required']">
                Description is required.
              </div>
              <div *ngIf="projectDescription.errors?.['minlength']">
                Minimum length should be 3
              </div>
              <div *ngIf="projectDescription.errors?.['maxlength']">
                Maximum length should be 100
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg mt-5 w-100" data-bs-dismiss="modal">Great, thanks!</button>
          <button type="button" class="btn btn-danger btn-lg" (click)="delete()">Delete</button>
        </form>
      </div>
      <div class="col-md-6">
        <div *ngIf="project.projectTitle" class="card" style="width: 34rem;">
          <div class="card-body">
            <h2 class="card-text">{{ project.projectTitle }}</h2>
            <p class="card-text">{{ project.projectId }}</p>
          </div>
          <img [src]="project.imageUrl" class="card-img-top">
          <div class="card-body">
            <p class="card-text">{{ project.projectInr }}</p>
            <p class="card-text">{{ project.projectDescription }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>