.border-bottom{
    height: 50px;
}
nav{
    background-color: #ffbc13;
}
.navbar .container img{
    position: absolute;
    height: 80px;
    width: 80px;
    top: 0;
}
.navbar .container h1{
    -webkit-text-fill-color: white;
    font-size: 25px;
    font-family: sans-serif;
    margin: 10px 0 0 80px;
    text-shadow: 2px 2px 4px #000000;
}
.navbar .container .navbar-collapse .navbar-nav a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
}
.navbar .container .navbar-collapse .navbar-nav li{
	padding: 5px;
}
.navbar .container .navbar-collapse ul li a {
    position:relative;
    z-index: 1;
}
.navbar .container .navbar-collapse ul li a:hover {
    color: white;
}
.navbar .container .navbar-collapse ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: rgba(51, 51, 225, 0.684);
    visibility: none;
    opacity: 0;
    z-index: -1;
}
.navbar .container .navbar-collapse ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
.navbar .container .navbar-collapse .navbar-nav .dropdown-menu{
    background-color: #ffbc13;
}
.dropdown:hover .dropdown-menu {
    display: block;
}