*{
    font-family: Arial, Helvetica, sans-serif;
}
.slider {
  width: 100%;
  max-width: 100%;
  margin: 68px auto 0 auto;
}

.container .row .col-md-7 h2{
    color: #ffbc13;
    font-size: 28px;
    text-transform: uppercase;
}
.container .row .col-md-7 h2::after{
    content: '';
    display: block;
    position: relative;
    width: 19%;
    border: 2px solid rgba(51, 51, 225, 0.684);
    margin-top: 8px;
}
.container .row .col-md-7 p{
    font-size: 16px;
    text-align: justify;
}
.container div h1{
    font-size: 32px;
    color: #ffbc13;
}

.responsive-banner {
  width: 100%;
  height: auto;
  max-height: 400px;
}

@media (max-width: 768px) {
  .responsive-banner {
    height: 200px;
  }
}
