<div class="slider">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="aboutBanner ? aboutBanner.image : 'assets/banner_preview.png'" [alt]="aboutBanner ? aboutBanner.imageTitle : null" class="responsive-banner">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1 class="carouselTitle">About Us</h1>
          <p class="opacity-75">"Projects are the heartbeat of progress, each pulse a step towards innovation."</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Who We Are</h2>
        <p class="lead">Sriram Groups is a convergence of global entrepreneurial vision, time-honoured values and the
          best business acumen.
          Sriram Groups is the brain-child of a group of like-minded stakeholders who bring with them over 35 years of
          management expertise.
        </p>
        <p class="lead">
          Sriram Groups commenced operations in 1988 and in just over 35 years of its existence, has established a
          successful presence
          across a portfolio of business verticals.
        </p>
        <p class="lead">
          Sriram Group's hallmark has been a focused Service-Centric apporch underscored by fair business practices and
          a commitment
          to superior standards.
        </p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" [src]="whoweare ? whoweare.image : 'assets/preview.jpg'" [alt]="whoweare ? whoweare.imageTitle: null" style="object-fit: cover;" [attr.aria-label]="whoweare ? whoweare.imageTitle : null"
          focusable="false">
      </div>
    </div>
    <br>
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Our Story</h2>
        <p class="lead">
          Started as a small financial office in 1988, our company took its first step in TNEB Contract work. With
          service mind we grow our
          service in PWD work on 2000. Commencing successful project, We grow a branch in NH & H/D contract work.
        </p>
        <p class="lead">
          On further development we opened our first private business in IOCL Dealership (Sriram Agencis) on 2006.
          Having service as our
          commitment to develop a good community we founded Sriram Institute of Education on 2012.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" [src]="ourstory ? ourstory.image : 'assets/preview.jpg'" [alt]="ourstory ? ourstory.imageTitle: null" style="object-fit: cover;" [attr.aria-label]="ourstory ? ourstory.imageTitle : null"
          focusable="false">
      </div>
    </div>
  </div>
</div>