.main {
  width: 100%;
  max-width: 100%;
  margin: 68px auto 0 auto;
}
.container .row .col .card {
    width: 20rem;
    border: 1px solid #eeeeee;
    height: 180px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.container .row .col .card .card-body .card-title {
    color: #ffbc13;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.container .row .col .card .card-body h6 {
    color: #3498db;
}

::selection {
    color: #ffffff;
    background-color: #31285C;
}

.wrapper {
    min-height: 100px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    padding: 30px;
}

.input-control {
    width: 100%;
    height: 45px;
    border: none;
    padding: 10px;
    background-color: #eeeeee;
    color: gray;
    outline: none;
    font-size: 15px;
    margin-bottom: 20px;
    transition: .5s;
    border-radius: 5px;
}

.heading {
    color: #ffbc13;
    margin-bottom: 20px;
}

.heading p {
    color: #3498db;
}

button {
    width: 100%;
    height: 45px;
    border: none;
    color: #FFFFFF;
    background-color: #ffbc13;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
    margin-bottom: 20px;
}

button:hover {
    background-color: #31283B;
}

.error-message {
    display: inline-block;
    line-height: 100%;
    margin: 0 0 10px 0;
    color: #cc0033;
    border: none;
    background-color: #ffffff;
}

.success-message {
    display: inline-block;
    line-height: 100%;
    margin: 0 0 10px 0;
    color: darkgreen;
    border: none;
    background-color: #ffffff;
}

.card .card-body {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.card .card-body .icon {
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: center;
    height: 50px;
}

.card .card-body .icon i {
    font-size: 23px;
    color: #ffbc13;
}

.container .contact-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.contacts {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .container .contact-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .container .contact-box {
        grid-template-columns: 1fr;
    }
}


.responsive-banner {
  width: 100%;
  height: auto;
  max-height: 400px;
}

@media (max-width: 768px) {
  .responsive-banner {
    height: 200px;
  }
}
