<div class="scroll-container">
    <div class="banner-section" scrollAnimate>
        <app-banner></app-banner>
    </div>
    <div class="mainservice-section" scrollAnimate>
        <app-mainservice></app-mainservice>
    </div>
    <div class="mainabout-section" scrollAnimate>
        <app-mainabout></app-mainabout>
    </div>
    <div class="mainproject-section" scrollAnimate>
        <app-mainproject></app-mainproject>
    </div>
    <div class="achivements-section" scrollAnimate>
        <app-achivements></app-achivements>
    </div>
</div>
