<nav class="navbar navbar-expand-lg fixed-top navbar-dark" aria-label="Offcanvas navbar large">
  <div class="container">
    <div class="logo">
      <img routerLink="/home" src="assets/SR--03.png" />
      <h1 class="navbar-brand">GROUPS</h1>
    </div>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isCollapsed" class="navbar-collapse">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <!-- <ng-container *ngIf="isLoading">
            <li class="nav-item">
              <a class="nav-link">Loading....</a>
            </li>
          </ng-container> -->
        <!-- <ng-container *ngIf="!isLoading"> -->
        <!----user navbar--->
        @if (!appUser?.isAdmin) {
        <ng-container>
          <li class="nav-item">
            <a 
              class="nav-link"
              [class.active]="isActive('/about')" 
              (click)="navigateToRoute('about')" 
              >
              Who we are
            </a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link" 
              (click)="navigateToRoute('projects')"  
              [class.active]="isActive('/projects')" 
              >
              Our Projects
            </a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link" 
              (click)="navigateToRoute('service')"
              [class.active]="isActive('/service')"
              >
              Our Service
            </a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link" 
              (click)="navigateToRoute('contact')"
              [class.active]="isActive('/contact')"
              >
              Contact Us
            </a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary">
              <i class="fi fi-rr-phone-call"></i>
              9443267209
            </button>
          </li>
        </ng-container>
        }
        <!----Admin navbar--->
        @if (appUser?.isAdmin) {
        <ng-container>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" href="#">
              <i class="ri-notification-3-line"></i>@if (unreadMessages.length > 0) {<span class="badge badge-light">{{ unreadMessages.length }}</span>}
              Notification
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="toggleNavbar()" routerLink="team">User Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="toggleNavbar()" (click)="logout()">Log Out</a>
          </li>
        </ng-container>
        }
        <!-- </ng-container> -->
      </ul>
    </div>
  </div>
</nav>