.container .heading{
    color: #ffbc13;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
.container .heading::after{
    content: '';
    display: block;
    position: relative;
    width: 8%;
    border: 2px solid rgba(51, 51, 225, 0.684);
    margin-top: 8px;
}