<div class="login-container form-signin w-100 m-auto">
    <form [formGroup]="login" #f="ngForm" class="login-form">
      <h1>Welcome Back</h1>
      <p>Please login to your account</p>
      <div class="input-group">
        <input 
        formControlName="username"
        type="text" 
        id="username" 
        name="username" 
        placeholder="Username">
        @if (all.username.touched && all.username.invalid) {
          <div class="error-message">
            @if (all.username.hasError('required')) { <small>Username is Required</small> }
            @if (all.username.hasError('minlength')) { <small>Name should be minimum 3 Characters</small> }
            @if (all.username.hasError('maxlength')) { <small>Name should be maximum 20 Characters</small> }
          </div>
        }
      </div>

      <div class="input-group">
        <input
        formControlName="password" 
        type="password" 
        id="password" 
        name="password" 
        placeholder="Password">
        @if (all.password.touched && all.password.invalid) {
          <div class="error-message">
            @if (all.password.hasError('required')) { <small>Password is Required</small> }
            @if (all.password.hasError('pattern')) { <small>Password should be Atleast one uppercase, one lowercase, one number,
              one special-character
            </small> }
          </div>
        }
      </div>
      <button type="submit">Login</button>
      <div class="bottom-text">
        <p>Don't have an account? <a href="#">Sign Up</a></p>
        <p><a href="#">Forgot password?</a></p>
      </div>
      <button (click)="loginWithGoogle()" class="btn btn-primary">Login with Google</button>
    </form>
</div>
