<div class="container px-4 py-3 mainservice-section" scrollAnimate>
    <h1 class="heading">Main Services</h1>
    <div class="row">
        <div class="col-lg-6">
            <img class="bd-placeholder-img img-fluid" width="250" height="250" [src]="buliding ? buliding.image : 'assets/preview.jpg'" [alt]="buliding ? buliding.imageTitle : null">
            <h3 class="fw-normal">Construction</h3>
            <p>At Sri Ram Construction, we take pride in turning your construction dreams into reality. With years of experience and 
                a commitment to excellence, we are your trusted partner for all your construction needs.
            </p>
            <button class="button btn-2" (click)="gotoService()"><span>View details &raquo;</span></button>
        </div>
        <div class="col-lg-6">
            <img class="bd-placeholder-img img-fluid" width="250" height="250" [src]="highway ? highway.image : 'assets/preview.jpg'" [alt]="highway ? highway.imageTitle : null">
            <h3 class="fw-normal">National Highways & NHAI</h3>
            <p>At Sri Ram Construction, we are dedicated to the development and enhancement of our nation's transportation infrastruction. 
                As a leading player in the construction of national highways, we are committed to creating safe, efficient, and well-maintained 
                road networks that connect cities and communities across the country.
            </p>
            <button class="button btn-2" (click)="gotoService()"><span>View details &raquo;</span></button>
        </div>
    </div>
</div>
<br>