<div class="page-wrapper">
    <app-navbar></app-navbar>
    <main class="page-content">
        <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
</div>


<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Building... </p>
</ngx-spinner> -->

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" [fullScreen]="true">
  <div class="custom-spinner">
    <img class="loader-gif" src="assets/loading.gif" width="80" height="80"/>
    <!-- <p style="color: white">Building...</p> -->
    <p class="animated-text">Building<span class="dots"></span></p>
  </div>
</ngx-spinner>
