<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Completed Projects
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Current Projects
            </a>
          </li>
        </ul>
      </div>
    </nav>
  
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button routerLink="/admin/dashboard/new" type="button" class="btn btn-outline-primary">Add Project</button>            
          </div>
        </div>
      </div>
  
      <h2>Project</h2>
      <!-- Projects Section -->
      <section class="projectSection">
        <p>
          <input
            #query
            (keyup)="onFilter(query.value)"
            type="text"
            class="form-control"
            placeholder="Search..."
          />
        </p>
        <table class="table table-hover" mat-table [dataSource]="dataSource" matSort #sortProject="matSort">
          <!-- Project Title Column -->
          <ng-container matColumnDef="projectTitle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Title</th>
            <td mat-cell *matCellDef="let element">{{ element.projectTitle }}</td>
          </ng-container>

          <!-- Project Description Column -->
          <ng-container matColumnDef="projectDescription">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Description</th>
            <td mat-cell *matCellDef="let element">{{ element.projectDescription }}</td>
          </ng-container>

          <!-- Project INR Column -->
          <ng-container matColumnDef="projectInr">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Project INR</th>
            <td mat-cell *matCellDef="let element">{{ element.projectInr }}</td>
          </ng-container>

          <!-- Project Status Column -->
          <ng-container matColumnDef="projectStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Status</th>
            <td mat-cell *matCellDef="let element">{{ element.projectStatus | uppercase }}</td>
          </ng-container>

          <!-- Edit Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element" class="text-end">
              <a class="btn btn-outline-primary" [routerLink]="['/admin/dashboard/', element.key]">Edit</a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons #paginatorProject="matPaginator"></mat-paginator>
      </section>

      <!-- Inbox Section -->
      <section class="inboxSection">
        <h2>Inbox</h2>
        <table class="table table-hover" mat-table [dataSource]="messageSource" matSort #sortMessage="matSort">
            <!-- S.No Column -->
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element; let i = index">{{ getSerialNumber(i) }}</td>
          </ng-container>
            <!-- Username Column -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.username }}</td>
          </ng-container>

            <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
          </ng-container>

            <!-- Message Column -->
          <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Message</th>
            <td mat-cell *matCellDef="let element">{{ element.message }}</td>
          </ng-container>

            <!-- Edit Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button class="btn btn-outline-primary" (click)="deleteMessage(element.key)">Delete</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedMessageColums"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedMessageColums"></tr>
        </table>
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons #paginatorMessage="matPaginator"></mat-paginator>
      </section>
  
    </main>
  </div>
</div>
<app-footer></app-footer>