<div class="main">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="serviceBanner ? serviceBanner.image : 'assets/banner_preview.png'" [alt]="serviceBanner ? serviceBanner.imageTitle : null" class="responsive-banner">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1 class="carouselTitle">Services</h1>
          <p class="opacity-75">"Elevate your experience with us."</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="album py-0 bg-body-tertiary project-wrapper">
    <div class="container text">
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        @for (card of cards; track $index) {
        <div class="col d-flex align-items-start">
          <div class="ioverlay-card io-card-2">
            <div class="card-content">
              <span class="card-title">{{ card.title }}</span>
            </div>
            <span class="card-link">
              <a (click)="showDetails(card, $event)" title="Read Full">
                <span>{{ selectedCard === card ? 'Hide' : 'View' }}</span>
              </a>
            </span>
            <img [src]="card.image" alt="{{ card.title }}" />
          </div>
          @if (selectedCard === card) {
          <div class="collapse-card">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ card.title }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                <p class="card-text">{{ card.description }}</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          }
        </div>
        }
      </div>
    </div>
  </div>
</div>
