<div class="main">
    <div class="carousel-item active">
        <img [src]="serviceBanner" alt="" width="100%" height="400px">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Services</h1>
            <p class="opacity-75">"Elevate your experience with us."</p>
          </div>
        </div>
        <!--<div class="container text">
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="col d-flex align-items-start">
                    <div class="ioverlay-card io-card-2">
                        <div class="card-content">
                            <span class="card-title">Construction</span>                        
                        </div>       
                        <span class="card-link">
                            <a [class.active]="isActive == 'construction'" (click)="isActive = 'construction'" (click)="isCollapsed = ! isCollapsed" title="Read Full">
                                <span>View</span>                        
                            </a>
                        </span>
                        <img [src]="construction"/>
                    </div> 
                </div>
                <div class="col d-flex align-items-start">
                    <div class="ioverlay-card io-card-2">
                        <div class="card-content">
                            <span class="card-title">National Highways</span>                        
                        </div>       
                        <span class="card-link">
                            <a [class.active]="isActive == 'highway'" (click)="isActive = 'highway'" (click)="isCollapsed = ! isCollapsed" title="Read Full">
                                <span>View</span>                        
                            </a>
                        </span>
                        <img [src]="highway"/>
                    </div> 
                </div>
                <div class="col d-flex align-items-start">
                    <div class="ioverlay-card io-card-2">
                        <div class="card-content">
                            <span class="card-title">Asphalt plant</span>                       
                        </div>       
                        <span class="card-link">
                            <a [class.active]="isActive == 'thar'" (click)="isActive = 'thar'" (click)="isCollapsed = ! isCollapsed" title="Read Full">
                                <span>View</span>                        
                            </a>
                        </span>
                        <img [src]="thar"/>
                    </div> 
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div [ngSwitch]="isActive" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                    <div *ngSwitchCase="'construction'">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">Construction</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'highway'">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">National Highways</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'thar'">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">Asphalt plant</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="col d-flex align-items-start">
                    <div class="ioverlay-card io-card-2">
                        <div class="card-content">
                            <span class="card-title">Concrete Products</span>                       
                        </div>       
                        <span class="card-link">
                            <a [class.active]="isActive == 'concrete'" (click)="isActive = 'concrete'" (click)="isCollapsed = ! isCollapsed" title="Read Full">
                                <span>View</span>                        
                            </a>
                        </span>
                        <img [src]="concrete"/>
                    </div> 
                </div>
                <div class="col d-flex align-items-start">
                    <div class="ioverlay-card io-card-2">
                        <div class="card-content">
                            <span class="card-title">Educational Institutions</span>                        
                        </div>       
                        <span class="card-link">
                            <a [class.active]="isActive == 'education'" (click)="isActive = 'education'" (click)="isCollapsed = ! isCollapsed" title="Read Full">
                                <span>View</span>                        
                            </a>
                        </span>
                        <img [src]="education"/>
                    </div> 
                </div>
                <div class="col d-flex align-items-start">
                    <div class="ioverlay-card io-card-2">
                        <div class="card-content">
                            <span class="card-title">IOCL Dealer</span>                       
                        </div>       
                        <span class="card-link">
                            <a [class.active]="isActive == 'iocl'" (click)="isActive = 'iocl'" (click)="isCollapsed = ! isCollapsed" title="Read Full">
                                <span>View</span>                        
                            </a>
                        </span>
                        <img [src]="iocl"/>
                    </div> 
                </div>
            </div>
            <div class="col-12">
                <div [ngSwitch]="isActive" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                    <div *ngSwitchCase="'concrete'">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">Concrete Plant</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'education'">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">Educational Institutions</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'iocl'">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">IOCL Dealer</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="container text">
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                @for (card of cards; track $index) {
                    <div class="col d-flex align-items-start">
                        <div class="ioverlay-card io-card-2">
                          <div class="card-content">
                            <span class="card-title">{{ card.title }}</span>
                          </div>
                          <span class="card-link">
                            <a (click)="showDetails(card, $event)" title="Read Full">
                              <span>{{ selectedCard === card ? 'Hide' : 'View' }}</span>
                            </a>
                          </span>
                          <img [src]="card.image" alt="{{ card.title }}" />
                        </div>
                        @if (selectedCard === card) {
                            <div class="collapse-card">
                                <div class="card">
                                  <div class="card-body">
                                    <h5 class="card-title">{{ card.title }}</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                                    <p class="card-text">{{ card.description }}</p>
                                    <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>
                                  </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>