.main {
  width: 100%;
  max-width: 100%;
  margin: 68px auto 0 auto;
}

.carousel-inner .carousel-item .container,
.opacity-75 {
  color: rgb(237, 244, 244);
}

.carousel-caption .carouselTitle {
  color: #ffbc13;
}

.card-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 350px;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.card-thumb {
  width: 100%;
  height: 260px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
}

.card-infos {
  width: 100%;
  height: 350px;
  position: absolute;
  padding: 14px 24px;
  background: white;
  transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.5, 1.03) 0.15s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Figtree", sans-serif;
}

.card-title {
  position: relative;
  margin: 0;
  color: #ffbc13;
  /* font-family: "Grotesque Black", sans-serif; */
  font-family: "Bebas Neue", cursive;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  text-shadow: 0 0 0px color-mix(in srgb, #ffbc13 20%, white);
  text-align: center;
}

.card-date {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: gray;
  /* font-family: "Grotesque", sans-serif; */
  font-family: "Figtree", sans-serif;
  text-align: center;
}

.card-text {
  /* font-family: 'Merriweather', sans-serif; */
  font-family: "Figtree", sans-serif;
  font-size: 0.95rem;
  color: #333;
  opacity: 0;
  text-align: center;
  transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.5, 1.03) 0.25s;
}

.card-details {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 10px 0;
  padding: 20px 24px;
  letter-spacing: 1px;
  color: #007BFF;
  /* font-family: "Grotesque Black", sans-serif; */
  font-family: "Figtree", sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.5, 1.03) 0.25s;
  font-style: italic;
  text-align: center;
}

.card-container:hover .card-infos {
  transform: translateY(-260px);
}

.card-container:hover .card-text,
.card-container:hover .card-details {
  opacity: 1;
}

.responsive-banner {
  width: 100%;
  height: auto;
  max-height: 400px;
}

article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 8px;
}

article img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@media (max-width: 768px) {
  .responsive-banner {
    height: 200px;
  }
}