<div class="main">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="serviceBanner ? serviceBanner.image : 'assets/banner_preview.png'"
        [alt]="serviceBanner ? serviceBanner.imageTitle : null" class="responsive-banner">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1 class="carouselTitle">Services</h1>
          <p class="opacity-75">"Elevate your experience with us."</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="album py-0 bg-body-tertiary project-wrapper">
    <div class="container text">
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        @for (card of cards; track $index) {
        @if(windowWidth > 768) {
        <!-- Desktop view -->
        <div class="col d-flex justify-content-center">
          <div class="card-container">
            <div class="card-thumb" [ngStyle]="{ 'background-image': 'url(' + card.image + ')' }"></div>
            <div class="card-infos">
              <h2 class="card-title">{{ card.title }}</h2>
              <h3 class="card-date">{{ card.subTitle }}</h3>
              <p class="card-text">
                {{ card.description }}
              </p>
              <h3 class="card-details">{{ card.cta }}</h3>
            </div>
          </div>
        </div>
        } @else {
        <!-- Mobile view -->
        <article>
          <div class="article-wrapper">
            <figure>
              <img [src]="card.image" [alt]="card.title" class="image">
            </figure>
            <div class="article-body">
              <h2>{{ card.title }}</h2>
              <p>{{ card.description }}</p>
            </div>
          </div>
        </article>
        }
        }
      </div>
    </div>
  </div>
</div>