<main class="main">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="projectBanner ? projectBanner.image : 'assets/banner_preview.png'" [alt]="projectBanner ? projectBanner.imageTitle : null" class="responsive-banner">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1 class="carouselTitle">Project</h1>
          <p class="opacity-75">"Projects are the heartbeat of progress, each pulse a step towards innovation."</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="album py-0 bg-body-tertiary project-wrapper">
    <div class="container list-project" scrollAnimate>
      <div class="filter">
        <!-- <input type="search" class="form-control" [formControl]="searchControl" id="project" placeholder="Search Project" > -->
        <div class="sort-section">
        @if (isSorted) {
          <p><span>Sort by: </span><i class="ri-sort-alphabet-asc" (click)="sortProject()"></i></p>
        } @else {
          <p><span>Sort by: </span><i class="ri-sort-alphabet-desc" (click)="sortProject()"></i></p>
        }
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" (change)="onSelectChange($event)">
          <option value="all" selected>All</option>
          <option value="ongoing">Ongoing</option>
          <option value="completed">Completed</option>
        </select>
        </div>
      </div>
      <div class="row projects">
        @for (p of filteredProject || project; track $index) {
        <ng-container>
          <div class="col d-flex justify-content-center">
            <div class="card shadow-sm">
              <img [src]="p.imageUrl || p.imageBase64" class="bd-placeholder-img card-img-top" role="img">
              <div class="card-body">
                <p class="card-text card-description">{{ p.projectDescription }}</p>
                <p class="card-text card-title">{{ p.projectTitle }}</p>
                <div class="card-footer">
                  <span class="card-text">{{ p.projectInr }}</span>
                  <span class="text-body-secondary card-status">{{ p.projectStatus }}</span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        }
      </div>
      @if (isLoading) {
        <div class="text-center py-4">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      }
    </div>
  </div>
</main>
