<div class="container">
    <h1 class="heading">Main Services</h1>
    <div class="row">
        <div class="col-lg-6">
        <img class="bd-placeholder-img img-fluid" width="250" height="250" [src]="buliding" alt="">
        <h3 class="fw-normal"><a href="#">Construction</a></h3>
        <p>At Sri Ram Construction, we take pride in turning your construction dreams into reality. With years of experience and 
            a commitment to excellence, we are your trusted partner for all your construction needs.
        </p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-6">
        <img class="bd-placeholder-img img-fluid" width="250" height="250" [src]="highway" alt="">
        <h3 class="fw-normal"><a href="#">National Highways & NHAI</a></h3>
        <p>At Sri Ram Construction, we are dedicated to the development and enhancement of our nation's transportation infrastruction. 
            As a leading player in the construction of national highways, we are committed to creating safe, efficient, and well-maintained 
            road networks that connect cities and communities across the country.
        </p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div>
    </div>
</div>