.achievement-section {
    background-color: #1f2340;
    position: relative;
    width: 100%;
}

.card-box {
    color: white;
    padding: 3rem;
    width: 180px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    margin: 10px;
}

.card-box .icon {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.bg-purple {
    background-color: #7b51d3;
}

.btn-pink {
    background-color: #d03fd3;
    border: none;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    font-weight: 600;
}

@media  (max-width: 768px){
    .card-box {
        padding: 2rem;
        width: 150px;
    }

    .card-box-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}