.container h1{
    color: #ffbc13;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
.container h1::after{
    content: '';
    display: block;
    position: relative;
    width: 17%;
    border: 2px solid #0A1931;
    margin-top: 8px;
}

.heading, .subheading{
    color: #0A1931;
    font-size: 20px;
}
.count{
    color: #ffbc13;
    font-size: 40px;
    font-weight: bolder;
}
.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

@media (max-width: 767px) {
    .container h1::after{
        width: 75%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container h1::after{
        width: 33%;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .container h1::after{
        width: 25%;
    }
}