<div class="container-fluid" [ngStyle]="{backgroundImage:'url(' + bgabout + ')'}">
<div class="container px-4 py-5">
    <h1 class="pb-2">Our Achivements</h1>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="heading">Building Excellence, Delivering Results</h2>
        <p class="text-body-primary text">At Sriram Construction, we're passionate about exceeding expectations. We consistently deliver high-quality construction projects on time and within budget, while prioritizing safety and innovation. Our commitment to excellence is reflected in our successful track record and satisfied clients.  Let us turn your vision into a reality.</p>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <p class="d-inline-flex align-items-center justify-content-start count">
              {{ projectComplete }}+
            </p>
            <h2 class="subheading">Project Complete</h2>
          </div>

          <div class="col d-flex flex-column gap-2">
            <p class="d-inline-flex align-items-center justify-content-start count">
              {{ client }}+
            </p>
            <h2 class="subheading">Satisfied Client</h2>
          </div>

          <div class="col d-flex flex-column gap-2">
            <p class="d-inline-flex align-items-center justify-content-start count">
              {{ workerEmployee }}+
            </p>
            <h2 class="subheading">Worker Employed</h2>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
